@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/threadDetails.css" asp-append-version="true" />
<div id="wrapper" class="bg-gradient">
    <p class="text-center">We apologize, but your attempted post was flagged for breaking out rules and will not be posted to the site. When creating a new post, please keep our rules in mind:</p>
    <ul>
        <li>1. No unnessary vulgar language</li>
        <li>2. No sexual language or remarks are allowed.</li>
        <li>3. Calling other users names, or being rude in genreal is not allowed.</li>
    </ul>
</div>
