* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: Arial, sans-serif;
}

header p {
    font-size: 1.25em;
    margin-top: 12px;
    margin-left:20px;
}

nav ul li {
    margin-right: 40px;
}

.login {
    font-size: .75em;
}

.login li {
    margin-right:10px;
}

.navbar {
    background: #273A40;
}

.btn-secondary {
    border-radius: 10px;
}

.btn-secondary:hover {
    cursor: pointer;
}

ul li a:hover {
    background: #0c4744;
}

#submenu {
    display:none;
    position: absolute;
    top: 100%;
    background-color: #273A40;
}

#submenu ul li {
    list-style: none;
}