@model gg.ggFaqs.BL.Models.Customer
<style>
    .wrap {
    max-width: 550px;
    margin: auto;
    padding: 20px;
    background: #fff;
    margin-top: 100px;
    border-radius: 15px;
    box-shadow: 2px 4px 8px 0px gray;
}

    .wrap h2 {
        padding-bottom: 10px;
    }

    .close {
        cursor: pointer;
        color: dimgrey;
        font-size: 1.25em;
    }

    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.7);
    }

    .btnCreate {
        padding: 12px;
        background: #2FACAC;
        border-radius: 15px;
        color: white;
        font-size: 14px;
        font-weight: bold;
    }

</style>

<script>
    function openLoginForm() {
    document.getElementById("loginForm").style.display = "block";
}
function closeLoginForm() {
    document.getElementById("loginForm").style.display = "none";
}

function NewSignup() {
    document.getElementById("loginForm").style.display = "none";
    document.getElementById("signupForm").style.display = "block";
}
</script>
<div id="loginForm" class="overlay">
    <div class="wrap">
        <button type="button" class="btn-close-white" aria-label="Close"></button>
        <span class="close float-end" aria-hidden="true" onclick="closeLoginForm()">&times;</span>
        <h2>Log In</h2>
        <form method="post" asp-controller="Customer" asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Log In" class="btnCreate" />
            </div>
            <div>
                <small>Don't have an account?</small><a href="#" onclick="NewSignup()">Sign Up</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
