*
{
   font-family: "Roboto";
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
}

.navbar .navbar-nav .nav-link:hover {
    color: #7f97a5;
}

ul li {
    list-style: none;
}

.main {
    color: white;
    padding: 200px 50px; 
    background-color: #04324e; 
    background-image: url("../img/logo.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover, center;
    position: relative;
    text-align: center;
}

.main h2 {
    font-size: 48px;
}

.main h3 {
    font-size: 20px;
}

#about, #projects {
    margin: 100px 50px;
}

#about h2, #projects h2 {
    font-size: 28px;
}

.btn-primary {
    background-color: #04324e !important;
    color: white !important;
    border: none !important;
    font-size: 12px !important;
}

.btn-primary:hover {
    background-color: #011825 !important;
}

.btn-outline-primary {
    border-color: #04324e !important;
    color: #04324e !important;
    font-size: 14px !important;
}

.btn-outline-primary:hover {
    background-color: #04324e !important;
    color: white !important;
}


.card-title {
    font-size: 16px;
    font-weight: bold;
}

.card-text {
font-size: 14px;
}

 @media screen and (min-width: 992px) {
    .navbar .navbar-nav .nav-link {
      padding: 0 0.5em;
    }
}